.page {
  height: 100%;
  background-color: #e8e8e8;
  display: block;
  overflow: auto;
}

.add-new-note {
  background-color: white;
  text-decoration: none;
  color: dimgray;
  text-align: center;
  line-height: 4rem;
  height: 4rem;
  width: 50%;
  max-width: 780px;
  display: block;
  margin: 1rem auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.2),
              0 1px 5px 0 rgba(0,0,0,0.12);
}

.notecards {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 780px;
}

@media only screen and (max-width: 420px) {
  .add-new-note {
    background-color: #e8e8e8;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .notecards {
    padding-bottom: 4rem;
  }
}
